<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <auto_instagram_post>
            <general>
                <enable>0</enable>
                <username/>
                <password backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
            </general>
            <comment_hashtag>
                <enable>0</enable>
                <product_description>1</product_description>
                <category_hashtag>1</category_hashtag>
                <enable_custom>0</enable_custom>
                <description_template><![CDATA[{{CUSTOMHASTAG}} {{CATEGORYHASHTAG}} {{PRODUCTDESC}} {{PRODUCTNAME}}]]></description_template>
            </comment_hashtag>
        </auto_instagram_post>
    </default>
</config>
