<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="auto_instagram" id="auto_instagram">
			<module before="Magento_Backend" name="GhoSter_AutoInstagramPost"/>
		</route>
	</router>
</config>
